### 변수
- 프로그램 내에서 계산시 사용되는 숫자 등을 임시로 저장하는 공간
- 변수의 형식을 정의하지 않고 사용(python)
- 문자(대, 소문자 구분), 숫자, 언더바(_)를 사용할 수 있다.
- 첫 자리에는 숫자를 사용할 수 없다.
- 파이썬 키워드는 변수 명으로 사용할 수 없다.

###파이썬 데이터 자료형
- 숫자형/문자형/리스트형/딕셔너리형

#### 숫자형
- 숫자형: 정수/실수/8진수/16진수

In [1]:
int1= 123
int2= 12.3
float1= 12.

# type(): 데이터 자료형을 출력
print(type(int1))
print(type(int2))
print(type(int1+float1), int1+float1)

print(int1+int2) # 숫자형 자료의 + 기호: 산술연산 +(더하기)

<class 'int'>
<class 'float'>
<class 'float'> 135.0
135.3

####문자형
- 쌍따옴표/홑따옴표로 묶여있는 자료
- 인덱싱: 문자열의 각 위치를 의미(번호 부여)
- 슬라이싱: 문자열에서 특정한 문자/단어/문장을 잘라오는 것

In [2]:
str1= "123"
str2= '파이썬 데이터 분석'

print(type(str1),"\n", type(str2))
print(str2+str1) # 문자형 자료의 + 기호: 문자열 연결 연산

<class 'str'>
 <class 'str'>
파이썬 데이터 분석123

In [3]:
# 숫자형+문자형 계산: 기본 계산 불가
# print(int1+str1)

# str(값): 입력된 값을 문자형으로 변경
print(str(int1)+str1)

# int(값): 입력된 숫자출력 문자형 값을 완전한 숫자형(정수)으로 변경
# float(값): 실수형  숫자자료로 변경
print(int1+int(str1))

123123
246

##### 인덱싱/슬라이싱

In [4]:
print(str2)
print(str2[0]) #문자 출력시 []후 위치 index 입력
print(str2[4])
print(str2[-1]) #print(str2[9])
# 여러 문자열 출력: 변수[시작위치:종료위치]
print(str2[0:3])
print(str2[:3])
print(str2[-2:])

파이썬 데이터 분석
파
데
석
파이썬
파이썬
분석

#### 문자열 관련 함수

In [5]:
str1="문자 숫자 리스트 문자열 텍스트 정수형"
# str1.count('단어'): 문자열에서 단가가 몇개 있는지 확인
print(str1.count("문자"))
print(str1.find("문자"))

# find("문자"): 문자열에서 찾는 문자의 위치 출력
str1.find("문자", 3)

2
0

10

In [6]:
# split(): 문자열 나누기
spstr1= str1.split(" ")
spstr1

# join(): 문자열 삽입, 문자 사이에 특정 기호등을 삽입할 때 사용
str2= "12345"

print("-".join(spstr1))
print("-".join(str2))

# len(): 데이터 길이
print(len(str1))

#replace("대상문자", "변경문자"): 문자열 바꾸기
print(str1.replace("문자","숫자"))
print(str1)

문자-숫자-리스트-문자열-텍스트-정수형
1-2-3-4-5
21
숫자 숫자 리스트 숫자열 텍스트 정수형
문자 숫자 리스트 문자열 텍스트 정수형

####리스트형
- 복합형 데이터 구조
- 입력시 대괄호([])로 묶어서 입력
- 리스트변수 = [값1,값2,값3,...]
- 인수(값)로는 문자,숫자,리스트,튜플,딕셔너리 등 다양 데이터 형식을 가질 수 있음
- 인덱싱/슬라이싱

In [7]:
lst1=[1,2,3,4,5]
lst2=[10,20,"멀티캠퍼스","파이썬",[100,200,300]]
lst3=["이순신", "홍길동", "서정동", "김보연", "민창기"]

print(type(lst1))
print(type(lst2))

# 인덱싱/슬라이싱
print(lst2[2])
print(lst2[0:2]) #print(lst2[:2])
print(lst2[-1])
print(lst2[-1][1]) # 2차원 구조의 데이터 출력

# 리스트형 데이터 수정
lst2[3] = "python"
print(lst2)

# append(): 리스트의 끝에 값 추가
lst2.append("서정동")
print(lst2)

lst1.sort()  # 오름차순 정렬
print(lst1)

lst3.sort()  # 오름차순 정렬
print(lst3)

# 객체.insert(위치,값): 중간 삽입
lst1.insert(0,6)
print(lst1)
# 개체 삭제
del lst2
del lst3[2]
print(lst3)

<class 'list'>
<class 'list'>
멀티캠퍼스
[10, 20]
[100, 200, 300]
200
[10, 20, '멀티캠퍼스', 'python', [100, 200, 300]]
[10, 20, '멀티캠퍼스', 'python', [100, 200, 300], '서정동']
[1, 2, 3, 4, 5]
['김보연', '민창기', '서정동', '이순신', '홍길동']
[6, 1, 2, 3, 4, 5]
['김보연', '민창기', '이순신', '홍길동']

In [8]:
# 차원 구조 리스트
lst=[[1,"홍길동","남"], [2,"이순신","남"], [3,"심순이","여"]]

print(lst)
print(lst[0][1])

[[1, '홍길동', '남'], [2, '이순신', '남'], [3, '심순이', '여']]
홍길동

####모듈 설치 및 연결
- pandas 모듈: 2차원 구조의 데이터 관리
- 모듈연결: import 모듈명 as 별명
- import pandas as pd

In [9]:
# !pip install pandas : 모듈 미설치시 사용
import pandas as pd

df1 = pd.DataFrame(lst, columns=["번호","이름","성별"])
df1

   번호   이름 성별
0   1  홍길동  남
1   2  이순신  남
2   3  심순이  여

####튜플형
- 리스트형 자료와 동일하나 수정이 불가능함 (자료 추가는 가능)
- 변수=(인수,인수,인수,...)

In [10]:
aa=(10, 20, 30)
print(aa[0])
# aa[1]=25  # 에러/수정 불가능

10

#### 딕셔너리형
- 복합 자료형
- 입력시 중괄호({ })로 묶어서 입력
- 딕셔너리변수={"key1":값1, "key2":값2, ....}
- key: 대표 이름
- 값: key가 가리키는 값, 숫자/문자/리스트/딕셔너러 등

In [11]:
dict1={"번호":1, "이름":"홍길동", "성별":"남", "국어":100}
dict2={"번호":[1,2,3,4,5],
       "이름":["AAA","BBB","CCC","DDD","EEE"],
       "성별":["남","여","남","여","남"],
       "국어":[100,95,85,75,80]}
print(dict1.keys()) # key 이름 출력
print(dict1.values()) # 값 전체 출력
print()
print(dict2.keys()) # key 이름 출력
print(dict2.values()) # 값 전체 출력

print(dict2["이름"]) # 특정 키에 해당하는 값만 출력

dict_keys(['번호', '이름', '성별', '국어'])
dict_values([1, '홍길동', '남', 100])

dict_keys(['번호', '이름', '성별', '국어'])
dict_values([[1, 2, 3, 4, 5], ['AAA', 'BBB', 'CCC', 'DDD', 'EEE'], ['남', '여', '남', '여', '남'], [100, 95, 85, 75, 80]])
['AAA', 'BBB', 'CCC', 'DDD', 'EEE']

###pandas 모듈
- 모듈 연결: import pandas as pd
- DataFrame 구조(행과 열로 데이터를 관리하는 2차원 구조)

In [12]:
# pandas를 이용한 데이터프레임 구조 변경

df1 = pd.DataFrame(dict2)
df1

   번호   이름 성별   국어
0   1  AAA  남  100
1   2  BBB  여   95
2   3  CCC  남   85
3   4  DDD  여   75
4   5  EEE  남   80