## 함수
- 함수(function)은 일정한 작업을 수행하는 코드블럭으로 보통 반복적으로 계속 사용되는 코드들을 함수로 정의하여 사용하게 된다.
- 기본 구조
![image.png]()

In [1]:
## 함수 예제
def add(a, b):  # a, b 두 개의 파라미터를 가지는 함수
    tot = a + b
    return tot

total = add(10, 20)
print(total)

30

In [2]:
def f(i, mylist):
    i = i + 1   # i += 1
    mylist.append(0)

k = 10
lst = [1, 2, 5]

f(k, lst)
print(f"k = {k}\nlst = {lst}")

k = 10
lst = [1, 2, 5, 0]

- 입력파라미터에 기본값 지정

In [3]:
def cal(a, b, c):
    return a * b * c

result = cal(10,20,1)
print(result)

200

- Named Parameter
 * 함수 호출시 "파라미터명 = 파라미터 값"과 같이 정의

In [4]:
def report(name, age, score):
    print(f"이름: {name}, 나이:{age}, 점수:{score}")

report("서정동", 50, 85)
report(name = "서정동", age = 50, score = 85)

이름: 서정동, 나이:50, 점수:85
이름: 서정동, 나이:50, 점수:85

- 가변길이 파라미터(0~N개 만큼 닫을 수 있음)
 * 파라미터명: *파라미터명

In [5]:
def total(*nums):
    tot = 0
    for n in nums:
        tot += n
    return tot

t = total(1,2)
print(t)

t = total(1,2,3,5,7,10,9)
print(t)

3
37