In [1]:
import CardSubwayStatsNew as csn

schdt = input("조회 일자 입력: (예:20210101)")
df1 = csn.swdataframe(schdt)

df1.head(2)

조회 일자 입력: (예:20210101)20210101

       사용일자  호선명   역명  승차인원  하차인원
0  20210101  1호선  서울역  9260  9858
1  20210101  1호선  동묘앞  4153  4491

In [4]:
import CardSubwayPayFree as cpf
schdt = input("조회 일자 입력: (예:202101)")
df2 = cpf.swdataframe(schdt)

df2.head()

조회 일자 입력: (예:202101)202101

      사용월  호선명          지하철역  유임승차인원  무임승차인원  유임하차인원  무임하차인원
0  202101  1호선           신설동  219283   82995  218343   79139
1  202101  1호선            시청  371942   46231  366139   43433
2  202101  1호선  청량리(서울시립대입구)  266539  205089  264050  206452
3  202101  1호선            종각  598363   84544  567563   78565
4  202101  1호선           동묘앞   98645  113919  105308  115644